
/* RHEME Demo Styles
================================================== */

	/* Page Fonts */
	@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');

	/* Body Options */
	body{ font-family: 'Open Sans', sans-serif; font-weight: 400; letter-spacing: -0.7px;}
	body *{outline:none;}

/* RHEME COLORS
================================================== */

	/* Colored */
	.colored, .colored-hover:hover{ color:#2a64e9 !important; }
	.bg-colored, .bg-colored-hover:hover{background-color:#2a64e9 !important; }
	.border-colored, .border-colored-hover:hover{ border-color:#2a64e9 !important; }

	/* Colored1 */
	.colored1, .colored1-hover:hover{ color:#2f2ae9 !important; }
	.bg-colored1, .bg-colored1-hover:hover{ background-color:#2f2ae9 !important; }
	.border-colored1, .border-colored1-hover:hover{ border-color:#2f2ae9 !important; }

	/* Colored2 */
	.colored2, .colored2-hover:hover{ color:#c09066 !important; }
	.bg-colored2, .bg-colored2-hover:hover{ background-color:#c09066 !important; }
	.border-colored2, .border-colored2-hover:hover{ border-color:#c09066 !important; }

	::selection{ background-color:#e33279 !important; }

/* Other Colors */

	.bg-soft-colored:before,
	.bg-soft-gradient:before,
	.bg-gradient{
		background: #327ffe;
		background: -moz-linear-gradient(45deg, #754ef4 0%, #327ffe 50%, #21cae9 100%);
		background: -webkit-linear-gradient(45deg, #754ef4 0%,#327ffe 50%,#21cae9 100%);
		background: linear-gradient(45deg, #754ef4 0%,#327ffe 50%,#21cae9 100%);
	}

	.bg-soft-gradient1:before,
	.bg-gradient1{
		background: #f2b03d; /* Old browsers */
		background: -moz-linear-gradient(45deg,  #f2b03d 0%, #e53838 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(45deg,  #f2b03d 0%,#e53838 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(45deg,  #f2b03d 0%,#e53838 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}

	.bg-soft-gradient2:before,
	.bg-gradient2{
		background: #ed900a;
		background: -moz-linear-gradient(45deg, #ed900a 0%, #a63fb5 50%, #601ddd 100%);
		background: -webkit-linear-gradient(45deg, #ed900a 0%,#a63fb5 50%,#601ddd 100%);
		background: linear-gradient(45deg, #ed900a 0%,#a63fb5 50%,#601ddd 100%);
	}

	.bg-soft-gradient:before,
	.bg-soft-gradient1:before,
	.bg-soft-gradient2:before{ opacity: 0.92;}

    /* Sliding hover type, background color */
    .qdr-hover:before,
    .qdr-hover-5:before{ background-color:#4b76f9; }
	.qdr-hover:after{background-color:#3e475a;}
	.qdr-hover-1:before,
	.qdr-hover-1-left:before,
	.qdr-hover-1-bottom:before,
	.qdr-hover-1-right:before{background-color:rgba(0,0,0,0.1);}
	.qdr-hover-2:before,.qdr-hover-2-vertical:before{background-color:#3e475a;}
	.qdr-hover-2-rotate:before{background-color:#3e475a;}



/* Rheme Home
================================================== */

	#home .rheme-home-inner{ padding:270px 15px; }
		@media only screen and (max-width: 1000px){
			#home .rheme-home-inner{ padding:140px 15px; }
		}
		@media only screen and (max-height: 1000px){
			#home .rheme-home-inner{ padding:200px 15px; }
		}
		@media only screen and (max-height: 750px){
			#home .rheme-home-inner{ padding:120px 15px; }
		}
		@media only screen and (max-height: 600px){
			#home .rheme-home-inner{ padding:80px 15px; }
		}
	#home .rheme-home-inner .home-title{ font-size: 56px; letter-spacing: -3px; font-weight: 900; }
	#home .rheme-home-inner .home-subtitle{ font-size: 37px; letter-spacing: -2px; font-weight: 300; }
	#home .rheme-home-inner .home-description{ font-size: 15px; font-weight: 400; letter-spacing: 0; }

	#home .rheme-texts{ width: 90%; width: calc(100% - 100px); float: left; }
		@media only screen and (max-width: 1450px){
			#home .rheme-home-inner .home-title{ font-size: 36px; letter-spacing: -1px; }
			#home .rheme-home-inner .home-subtitle{ font-size: 26px; letter-spacing: -0.7px; }
		}
		@media only screen and (max-width: 600px){
			#home .rheme-texts{ width: 100%; float: none; }
			#home .rheme-texts .home-title{ font-size: 35px; }
			#home .rheme-texts .home-subtitle{ font-size: 30px; letter-spacing: -0.5px; }
			#home .play-button{ width: 80px; margin:15px 0 !important; float: none; display: block; }
		}
		@media only screen and (max-width: 460px){
			#home .rheme-home-inner{ padding:100px 0 50px; }
			#home .rheme-texts .home-title{ font-size: 25px; }
			#home .rheme-texts .home-subtitle{ font-size: 21px; }
			#home .title-strips-over{ margin-top:0px; }
			#home .container .home-description{ margin-top:0px !important; font-size:15px; }
		}

/* Rheme WORKS */
	.works #items{margin:70px auto 0;}
	/* Hover color */
	.works .cbp-caption-activeWrap{ background-color:rgba(27,27,27,0.5); }
	/* Blur and scale effect for images  */
	.works .cbp-item:hover .cbp-caption-defaultWrap{ -ms-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.03); }
	.works .cbp-item .cbp-caption-defaultWrap,
	.works .cbp-item .cbp-caption-defaultWrap img{ -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s; }
	.works .cbp-item:hover .cbp-caption-defaultWrap img{ -webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px); }
	/* Text Styles */
	.works .cbp-caption-activeWrap h2{ color:#fff; font-size:16px; text-transform: uppercase; margin:0; padding:0; font-weight: 900; }
	.works .cbp-caption-activeWrap p{ font-size:13px; margin:0; padding:0; color:#ccc; line-height: 16px; text-transform: capitalize;}
		/* Blur effect for large screen devices */
		@media only screen and (min-width: 769px){
			.works .cbp-caption-activeWrap h2,
			.works .cbp-caption-activeWrap p{ -webkit-filter: blur(3px); -moz-filter: blur(3px); -o-filter: blur(3px); -ms-filter: blur(3px); filter: blur(3px); -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s; }
			.works .cbp-item:hover .cbp-caption-activeWrap h2,
			.works .cbp-item:hover .cbp-caption-activeWrap p{ -webkit-filter: blur(0px); -moz-filter: blur(0px); -o-filter: blur(0px); -ms-filter: blur(0px); filter: blur(0px); }
		}

/* Rheme ABOUT DETAILS */
	#about-details{ position: relative; }
	#about-details #about_slider .carousel-inner{width: 68%; height: 450px; background:url(../images/about_details_01.jpg) left top no-repeat; background-size: cover; }
	#about-details #about_slider .carousel-inner .item{top:50%; position: absolute; padding:0 40px 0 70px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
	#about-details #about_slider .carousel-inner .item h1{ font-size:40px; margin:0; font-weight: 900; letter-spacing: -2.5px; line-height: normal; }
	#about-details #about_slider .carousel-inner .item p{ font-size:16px; font-weight: 400; margin:15px 0 25px; }
	#about-details #about_slider .carousel-inner .item a{ text-transform: uppercase; padding:8px 20px; }

	/* Image slider */
	#about_image_slider{position: absolute; float: right; right: 0; top:0; left: auto; width: 470px; height: 690px; z-index: 0; }
	#about_image_slider img{width: 100%; height: auto; }
	#about-details .carousel-control.image_slider_controls{position: absolute; top: auto; bottom: 3px; left: 68%; right: -65px; width: 60px; height: auto; line-height: 20px; padding:7px 0; text-align: center; text-shadow:none; background-image: none; opacity: 1; }
	#about-details .carousel-control.image_slider_controls.left{bottom:45px; }
	#about-details .carousel-control.about_slider_controls{position: absolute; top: -38px; bottom:auto; right:470px; left:auto; width: 60px; height: auto; line-height: 20px; padding:7px 0; text-align: center; text-shadow:none; background-image: none; opacity: 1; }
	#about-details .carousel-control.about_slider_controls.left{top:-74px; }
	#about-details:hover .carousel-control.image_slider_controls{background-color:rgba(44,44,44,0.2);}
	/* Topbox Icon */
	#about-details .topbox .topbox-icon{ float:left; width: 100px; height: 100px; line-height: 95px; font-size:35px; text-align: center; padding:0; margin:0;}
	#about-details .topbox .topbox-details{ padding-left:30px; }
	#about-details .topbox .topbox-title{ padding:0; margin:0 0 15px; }
	#about-details .topbox .topbox-description{ padding:0; margin:0; max-width: 500px; font-size:17px; line-height: 21px; }

		@media only screen and (max-width: 1000px){
			#about-details .topbox .description p{max-width: 290px !important; font-size:15px !important;}
		}
		@media only screen and (min-width: 860px) and (max-width: 1440px){
			#about-details .topbox .topbox-details{ max-width: 33%; }
		}
		@media only screen and (max-width: 860px){
			#about-details #about_slider .carousel-inner{width: 100%; background-size:cover !important;}
			#about-details #about_image_slider{position: relative; margin:20px auto 0; float: none; display: block !important;}
			#about-details .topbox{width: 70% !important; margin:0 auto !important;}
			#about-details .topbox .topbox-icon{float:none; margin:0 auto 20px;}
			#about-details .topbox .topbox-details{ text-align: center; padding-left:0; float:none !important;}
			#about-details .topbox .description{text-align: center; margin:0 auto; float: none; padding: 0 !important;}
			#about-details .topbox .description p{max-width: 100% !important;}
			#about-details .carousel-control{display: none;}
		}
		@media only screen and (max-width: 600px){
			#about-details #about_slider h1{font-size:35px !important;}
			#about-details #about_slider p{font-size:15px !important;}
			#about-details #about_slider a{font-size:12px;}
			 #about_image_slider{width: 100%; height: auto;}
			#about-details #about_slider .carousel-inner .item{padding:0 15px 0 25px;}
		}
		@media only screen and (max-width: 360px){
			#about-details #about_slider h1{font-size:27px !important;}
		}
