.error-nav a{
    color:#5c5c5e!important;
    font-size: larger!important;
}

.main-nav a{
    font-size: larger!important;
}
.cbp-l-grid-masonry-projects{
    width: 75%;
}

.gallery-div{
    width: 50%;
}

td a {
    color: #175de7 !important;
}

td a:hover {
    text-decoration: underline!important;
}

.fa-download {
    color:black!important;
}